<!DOCTYPE HTML>

<html>
	<head>
		<title>ShoppingList</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/CSS/main.css" />
		
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="../static/CSS/noscript.css" /></noscript>
	</head>
	<body>
		
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
                        <img class="icon fa-diamond" src="../static/img/shopping-cart-hi.png" width="65" height="68" alt="shopping"> </div>
						<div class="content">
							<div class="inner">
								<h1>SHOPPING lIST</h1>
								<p>The challenge of keeping track of shopping items is a need for many individuals that requires an innovative and robust solution that will allow them to remember and share the shopping lists with others</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">View Lists</a></li>
								<li><a href="#">Delete Lists</a></li>
								<li><a href="#">Add Lists</a></li>
                                <li><a href="#">Update Lists</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
						<p><h4> Manipulate the Items on your shopping List</p></h4>
						<nav>
								<ul>
									
									<li><a href="#">add item</a></li>
									<li><a href="#">View item</a></li>
									<li><a href="#">Delete item</a></li>
									<li><a href="#">edit item</a></li>
									<li><a href="#">Update Lists</a></li>
									<!--<li><a href="#elements">Elements</a></li>-->
								</ul>
							</nav>
					</header>

				<!-- Main -->
					<div id="main">

						

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Shopping List.</p>
					</footer>

	</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script  src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

</body>
</html>
