<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my shopping list</title>
    <link rel="stylesheet" href="../static/CSS/style2.css" type="text/css">
</head>
<body>




<form action="/homepage" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<p><h1>The Shopping List</h1></p>
				<h5>LOGIN</h5>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="email" class="login-field" value="" placeholder="email" name="email">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</form>

<form action="/sn" method="POST">
		<input type="submit" value="LOGIN" class="btn btn-primary btn-large btn-block" >
		<br>
</form>

<script type="text/javascript" src="list.js"></script>
</body>
</html>