<!DOCTYPE HTML>

<html>
	<head>
		<title>ShoppingList</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/CSS/main.css" />
		
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="../static/CSS/noscript.css" /></noscript>

		<style>

			.view-div{

				width: 300px;
				height: 300px;
				background-color: gainsboro;
				
			}

			.view-div2{

				width: 200px;
				height: 300px;
				background-color: gainsboro;
			}

		</style>
	</head>
	<body>
		
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						
						<div class="content">
							<div class="inner">
								<h1>SHOPPING lIST</h1>
								
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#vlist">View Lists</a></li>
								<li><a href="#deletelist">Delete Lists</a></li>
								<li><a href="#addlist">Add Lists</a></li>
                                <li><a href="#updatelist">Update Lists</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
						
						<nav>
								<ul>
									
									<li><a href="#additem">add item</a></li>
									<li><a href="#vitem">View item</a></li>
									<li><a href="#deleteitem">Delete item</a></li>
									
									<li><a href="#updateitem">Update Item</a></li>
									<!--<li><a href="#elements">Elements</a></li>-->
								</ul>
							</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Add List -->
						<form>
						<article id="addlist">
								<h2 class="major">Add a shopping List</h2>
								<div class="table-addlist"> 
									<table>
										<tr>
											<td>List name:</td>
											<td><input type="text" name="addlist" id="addlist"/></td>

										</tr>
										<tr>
												<td>Description:</td>
												<td><input type="text" name="addlistarea" id="addlistarea"/></td>
	
											</tr>
										<tr>
												<td></td>
												<td><input type="submit" value="ADD" name="addlistbtn" id="addlistbtn"/></td>
	
											</tr>


									</table>

								</div>
								
						</article>
						</form>
						<!-- Update List -->
						<form>
						<article id="updatelist">
								<h2 class="major">Update a shopping List</h2>
								<div class="table-updatelist"> 
									<table>
										<tr>
											<td>List name:</td>
											<td><input type="text" name="addlist" id="addlist"/></td>

										</tr>
										<tr>
												<td>New List Name:</td>
												<td><input type="text" name="addlistarea" id="addlistarea"/></td>
	
											</tr>
										<tr>
												<td></td>
												<td><input type="submit"  value="UPDATE" name="addlistbtn" id="addlistbtn"/></td>
	
											</tr>


									</table>

								</div>
								
						</article>
						</form>

						<!-- Delete List -->
						<form>
						<article id="deletelist">
								<h2 class="major">Delete a shopping List</h2>
								<div class="table-deletelist"> 
									<table>
										<tr>
											<td>List name:</td>
											<td><input type="text" name="deletelist" id="dellist"/></td>

										</tr>
										
										<tr>
												<td></td>
												<td><input type="submit"  value="DELETE" name="deletelistbtn" id="deletelistbtn"/></td>
	
											</tr>


									</table>

								</div>
								
						</article>
						</form>


						<!-- View List -->
						<form>
						<article id="vlist">
								<h2 class="major">View shopping Lists</h2>
								<div class="table-viewlist"> 
									<table>
										<tr>
											<div class="view-div"></div>

										</tr>
										
												


									</table>

								</div>
								
						</article>
						</form>



						<!-- Add item-->
						<form>
						<article id="additem">
								<h2 class="major">Add an Item to a  shopping List</h2>
								<div class="table-additem"> 
									<table>
										<tr>
											<td>List name:</td>
											<td><input type="text" name="list_name" id="list_name"/></td>

										</tr>
										<tr>
												<td>Item Name:</td>
												<td><input type="text" name="additem" id="addit"/></td>
	
										</tr>

										<tr>
												<td>Price:</td>
												<td><input type="text" name="addprice" id="addprice"/></td>
	
										</tr>
										<tr>
												<td></td>
												<td><input type="submit" value="ADD" name="additembtn" id="additembtn"/></td>
	
											</tr>


									</table>

								</div>
								
						</article>
						</form>
						<!-- Update item -->
						<form>
						<article id="updateitem">
								<h2 class="major">Update an itemin a shopping List</h2>
								<div class="table-updatelist"> 
									<table>
										<tr>
											<td>List name:</td>
											<td><input type="text" name="list_name" id="list_name"/></td>

										</tr>
										<tr>
												<td>Item Name:</td>
												<td><input type="text" name="updateitem" id="updateitem"/></td>
	
										</tr>



										<tr>
												<td>New Item Name:</td>
												<td><input type="text" name="addlistarea" id="addlistarea"/></td>
	
										</tr>
										<tr>
												<td></td>
												<td><input type="submit"  value="UPDATE" name="updateitembtn" id="updateitembtn"/></td>
	
											</tr>


									</table>

								</div>
								
						</article>
						</form>

						<!-- Delete Item -->
						<form>
						<article id="deleteitem">
								<h2 class="major">Delete a shopping List</h2>
								<div class="table-deletelist"> 
									<table>
										<tr>
											<td>List name:</td>
											<td><input type="text" name="list_name" id="list_name"/></td>
		
										</tr>


										<tr>
											<td>Item name:</td>
											<td><input type="text" name="deleteitem" id="delitem"/></td>

										</tr>
										
										<tr>
												<td></td>
												<td><input type="submit"  value="DELETE" name="deleteitembtn" id="deleteitembtn"/></td>
	
											</tr>


									</table>

								</div>
								
						</article>
						</form>


						<!-- View Items -->
						<form>
						<article id="vitem">
								<h2 class="major">View Items in a  shopping List</h2>
								<div class="table-viewitem"> 
									<table>
										<tr>
											<div class="view-div2"></div>

										</tr>
										
												


									</table>

								</div>
								
						</article>
						</form>

						

						





						

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Shopping List.</p>
					</footer>

	</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script  src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

</body>
</html>
